body {
    margin: 0;
    background-color: rgb(196, 223, 247);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'azul verde' 'vermelho amarelo';
    grid-gap: 10px;
    border: 1px solid rgb(231, 243, 253);
    background-color: rgb(231, 243, 253);
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: azul;
    background-color: hsl(240, 70%, 50%);
    border-top-left-radius: 100%;
    opacity: 0.7;
}

.green {
    grid-area: verde;
    background-color: hsl(120, 70%, 50%);
    border-top-right-radius: 100%;
    opacity: 0.7;
}

.red {
    grid-area: vermelho;
    background-color: hsl(0, 70%, 50%);
    border-bottom-left-radius: 100%;
    opacity: 0.7;
}

.yellow {
    grid-area: amarelo;
    background-color: hsl(60, 70%, 50%);
    border-bottom-right-radius: 100%;
    opacity: 0.7;
}

.selected {
    opacity: 1;
}